{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>穀語手工窯烤麵包</title>
<link rel="stylesheet" href="{% static 'products/css/style.css' %}">
</head>
<body>

<!-- Header -->
{% include 'products/header.html' %}

<main>
  <section class="member-cards">
  <div class="card bronze">
    <h3>銅穀會員</h3>
    <ul>
      <li>無期效限制</li>
      <li>入會禮：$50 折扣券一張</li>
      <li>集點福利：消費滿 $200 贈 1 點</li>
    </ul>
  </div>

  <div class="card silver">
    <h3>銀穀會員</h3>
    <ul>
      <li>90 天內消費滿 $4000 升等</li>
      <li>送 4 張兌換麵包券</li>
      <li>送 3 張 $100 折抵券</li>
      <li>專屬驚喜禮 2 次</li>
      <li>集點福利：消費滿 $150 贈 1 點</li>
    </ul>
  </div>

  <div class="card gold">
    <h3>金穀會員</h3>
    <ul>
      <li>90 天內消費滿 $6000 升等</li>
      <li>送 6 張兌換麵包券</li>
      <li>送 5 張 $100 折抵券</li>
      <li>專屬驚喜禮 4 次</li>
      <li>集點福利：消費滿 $100 贈 1 點</li>
    </ul>
  </div>
</section>


</main>

  </section>
</main>







<!-- Footer -->
{% include 'products/footer.html' %}

</body>
</html>